{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Submit Testimonial - AI-Solutions{% endblock %}

{% block content %}
<section class="on-dark py-5">
  <div class="container">
    <div class="panel-glass p-4 p-md-5">
      <h1 class="h3 mb-4">Share your experience</h1>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row g-3">
          <div class="col-md-6">{{ form.client_name|as_crispy_field }}</div>
          <div class="col-md-6">{{ form.company|as_crispy_field }}</div>
          <div class="col-md-6">{{ form.client_position|as_crispy_field }}</div>
          <div class="col-md-6">{{ form.rating|as_crispy_field }}</div>
          <div class="col-12">{{ form.testimonial|as_crispy_field }}</div>
          <div class="col-12">{{ form.client_image|as_crispy_field }}</div>
          <div class="col-12"><button class="btn btn-primary">Submit</button></div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}

